<% layout('layout') -%>

<div class="row">

    <div class="large-12 columns">

        <h3>Current Ladder</h3>
        <ol>
            <% for (var i = 0; i < ladder.players.length; i++) { %>
                <li><%= ladder.players[i].name.full %></li>
            <% } %> 
        </ol>

    </div>

</div>
