<% layout('layout') -%>

<form action="/join" method="POST">

	<div class="row">
		<div class="large-4 columns">
			<input type="text" name="first_name" placeholder="First Name">
		</div>
		<div class="large-4 columns">
			<input type="text" name="last_name" placeholder="Last Name">
		</div>
		<div class="large-4 columns">
			<input type="text" name="nickname" placeholder="Nickname">
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<button type="submit" class="medium button right">Join</button>
		</div>
	</div>

</form>
